body {
    width: 100%;
    font-family: 'Chango', cursive;
    cursor: url('../images/tortilla-chips2.png'), default;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4df5b+0,b4df5b+100;Green+Semi+Flat */
background: #b4df5b; /* Old browsers */
background: -moz-linear-gradient(top, #b4df5b 0%, #b4df5b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #b4df5b 0%,#b4df5b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #b4df5b 0%,#b4df5b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4df5b', endColorstr='#b4df5b',GradientType=0 ); /* IE6-9 */
}

h1 {
    text-align: center;
    /*text-transform: uppercase;*/
}

#game-board {
  height: 330px;
  width: 330px;
  margin: 0 auto;
  border: 1px solid black;
}

.cell {
  display: inline-block;
  width: 21%;
  margin: 4px;
  height: 21%;
  border: 1px solid black;
}

#game-info {
  height: 40px;
  width: 330px;
  margin: 0 auto;
}

#level-display, #lifes-display {
  margin-left: 30px;
}

#start { 
  margin: 10px 37%;
}
.mole {
  /*background-color: red !important;*/
  background-image: url('../images/guacamole.png');
  background-size: contain;
}